<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyMall</display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.qianfeng.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.qianfeng.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>showProductServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/showProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductByCategoryServlet</display-name>
    <servlet-name>GetProductByCategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.GetProductByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByCategoryServlet</servlet-name>
    <url-pattern>/getProductByCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.qianfeng.check.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.qianfeng.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.qianfeng.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/productDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.qianfeng.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCartServlet</display-name>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/shoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/showCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByTextServlet</display-name>
    <servlet-name>FindProductByTextServlet</servlet-name>
    <servlet-class>com.qianfeng.web.FindProductByTextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByTextServlet</servlet-name>
    <url-pattern>/findProductByTextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByWordServlet</display-name>
    <servlet-name>FindProductByWordServlet</servlet-name>
    <servlet-class>com.qianfeng.web.FindProductByWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByWordServlet</servlet-name>
    <url-pattern>/findProductByWordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.qianfeng.web.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/payServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.qianfeng.web.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/deleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserServlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/checkUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddCategoryServlet</display-name>
    <servlet-name>AdminAddCategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminAddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCategoryServlet</servlet-name>
    <url-pattern>/adminAddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryListServlet</display-name>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <url-pattern>/adminCategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditCategoryServlet</display-name>
    <servlet-name>AdminEditCategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminEditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCategoryServlet</servlet-name>
    <url-pattern>/adminEditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/adminEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminForAddProduct</display-name>
    <servlet-name>AdminForAddProduct</servlet-name>
    <servlet-class>com.qianfeng.web.AdminForAddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForAddProduct</servlet-name>
    <url-pattern>/adminForAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductList</display-name>
    <servlet-name>AdminProductList</servlet-name>
    <servlet-class>com.qianfeng.web.AdminProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductList</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminResearchServlet</display-name>
    <servlet-name>AdminResearchServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminResearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminResearchServlet</servlet-name>
    <url-pattern>/adminResearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateCategoryServlet</display-name>
    <servlet-name>AdminUpdateCategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminUpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateCategoryServlet</servlet-name>
    <url-pattern>/adminUpdateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteCategoryServlet</display-name>
    <servlet-name>AdminDeleteCategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCategoryServlet</servlet-name>
    <url-pattern>/adminDeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProductServlet</display-name>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <url-pattern>/adminDeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowProductServlet</display-name>
    <servlet-name>AdminShowProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowProductServlet</servlet-name>
    <url-pattern>/adminShowProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/showOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>